@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: poppins, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  /* Main Colors */
  --main-bg: #f6f0d7;
  --primary-color: #89986d;
  --secondary-color: #9cab84;
  --light-green: #e0ebca;

  /* Button Colors */
  --btn-color: #89986d;
  --btn-hover-color: #74835c;
  --btn-text-color: #ffffff;

  /* Text Colors */
  --text-color: #2f2f2f;
  --text-light-color: #666666;
  --text-white: #ffffff;

  /* Gray Colors */
  --gray-light: #f2f2f2;
  --gray-medium: #cccccc;
  --gray-dark: #555555;

  /* Background Colors */
  --header-bg: #ffffff;
  --top-black: #000;
  --footer-bg: #5f6d4c;
  --card-bg: #ffffff;

  /* Border & Shadow */
  --border-color: #dddddd;
  --shadow-color: rgba(0, 0, 0, 0.08);
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: var(--footer-bg); */
  background-color: var(--top-black);
  color: var(--gray-medium);
  height: 6vh;
  width: 100%;
}

.top-left b {
  color: var(--text-white);
}

.top-right {
  display: flex;
  color: var(--text-white);
  gap: 15px;
}

.top-bar a {
  color: var(--text-white);
  font-weight: 600;
}

nav {
  height: 9vh;
  width: 100%;
  /* background-color: var(--header-bg); */
  background-color: var(--main-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-color);
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li:first-child a {
  color: var(--btn-hover-color);
  font-weight: 500;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
  transition: ease-in-out 0.2s;
}

nav ul li a:hover {
  font-weight: 500;
  color: var(--btn-hover-color);
}

.nav-icons {
  display: none;
}

main {
  background: url(assets/background.jpg) center/cover no-repeat;
  position: relative;
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

main h1 {
  color: var(--text-white);
  z-index: 1;
  font-size: 3rem;
  font-family: "Playwrite AT", cursive;
}

main h1:hover {
  color: var(--light-green);
}

.shop-now {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: var(--main-bg);
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

.row {
  width: 100%;
  height: 100vh;
  background-color: var(--main-bg);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.prod {
  height: 450px;
  width: 380px;
  background-color: var(--light-green);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  transition: ease-in-out 0.4s;
}

.prod:hover {
  box-shadow: 8px 8px 3px var(--shadow-color);
}

.prod img {
  height: 350px;
  margin: 10px;
}

.item-name {
  text-align: center;
}

@media (max-width: 700px) {
  .top-bar {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .nav-icons {
    display: block;
    display: flex;
    gap: 20px;
  }
}
